.body {
  background-image: url("/images/hero_bck.webp");
  opacity: 1;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: var(--color-white);
  min-height: 830px;
  height: 70vh;
  background-size: 100%;
  transition: 'opacity'500ms ease-in-out 0s;
  position: relative;
  top: -50px;
}



.searchWrapper {
  position: relative;
  top: 100%;
}
